<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.GenderRepository">
	<resultMap type="com.example.domain.user.Gender" id="GenderResultMap">
		<id property="gId" column="g_id" />
		<result property="gName" column="g_name" />
	</resultMap>

	<select id="select" resultMap="GenderResultMap" >
		SELECT * FROM gender
	</select>


</mapper>
