<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.ShengFenRepository">
	<resultMap type="com.example.domain.dizhi.ShengFen" id="ShengFenResultMap">
		<id property="sId" column="s_id" />
		<result property="sName" column="s_name" javaType="java.lang.String"/>
		<result property="sZiMuId" column="s_ziMuId" javaType="java.lang.Integer"/>
		<result property="sPinyin" column="s_pinyin" javaType="java.lang.String"/>
		<association property="daXieZiMu" column="s_ziMuId" javaType="com.example.domain.dizhi.DaXieZiMu">
			<id property="zId" column="z_id" javaType="java.lang.Integer"/>
			<result property="zZiMu" column="z_ziMu" />
		</association>

	</resultMap>

	<select id="select" resultMap="ShengFenResultMap" >
		select * from shengfen s,ziMu z WHERE z.z_id=s.s_ziMuId
	</select>


</mapper>
